<footer>
    <div class="footer-copyright">
        <div class="container">
            All articles belong to <a href="https://www.newyorktimes.com">New York Times</a>
            <a class="grey-text" href="/all">JSON Articles</a>
        </div>
    </div>
</footer>