<footer class="navbar bg-dark">
    <div class="footer-copyright">
        <div class="container" style="color:aliceblue">
            All articles belong to <a href="https://www.newyorktimes.com">New York Times</a>
            <a href="/all">JSON Articles</a>
        </div>
    </div>
</footer>