<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- JQUERY --}}
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- Bootstrap CSS --}}
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/materia/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{!-- Custom styling --}}
    <link rel="stylesheet" href="/assets/css/style.css">
    {{!-- Custom javascript --}}
    <link rel="text/javascript" href="/assets/JS/app.js">

    <title>Super Web scraper</title>

</head>
<body>

    {{> navbar}}
  
    <div class="container">  
        <div class="jumbotron">
            <img src="https://images.unsplash.com/photo-1470219556762-1771e7f9427d?ixlib=rb-1.2.1&w=1000&q=80" />
        </div>

        {{{ body }}}
        
    </div>

    {{> footer}}

</body>
</html>