<div class="container">
  <ul>
    {{#each article}}
      {{#unless isSaved}}
        <li class="card row">
          <div class="about">
            <h2 class="card-header">{{title}}</h2>
            <p>{{link}}</p>
          </div>
          <div class="col-md-6">
            <button type="button" id="save" class="btn btn-primary">Save</button>
          </div>
        </li>
      {{/unless}}
    {{/each}}
  </ul>
</div>